@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FuturaStd";
  src:
    url("../src//Assets//fonts/futura-std-4-cufonfonts/FuturaStdMedium.otf")
      format("woff2"),
    url("../src//Assets//fonts/futura-std-4-cufonfonts/FuturaStdCondensedLight.otf")
      format("woff2"),
    url("../src//Assets//fonts/futura-std-4-cufonfonts/FuturaStdBook.otf")
      format("woff2"),
    url("../src//Assets//fonts/futura-std-4-cufonfonts/FuturaStdCondensedLightObl.otf")
      format("woff2");
}

@font-face {
  font-family: "PizzaDudeFatOutline";
  src: url("../src//Assets//fonts/pizzadudefatoutline/PIZZADUDEFATOUTLINE.ttf")
    format("woff2");
}

@font-face {
  font-family: "HubenRegular";
  src: url("../src//Assets//fonts/huben-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SophiaPro";
  src:
    url("../src//Assets//fonts/sofia-pro/Sofia\ Pro\ Black\ Az.otf")
      format("woff2"),
    url("../src//Assets//fonts/sofia-pro/Sofia\ Pro\ Regular\ Az.otf")
      format("woff2");
}

:root {
  --custom-blue: #2096f3;
}

* {
  scroll-behavior: smooth;
}

.custom-black-50 {
  background-color: #35393c;
}

.custom-black-hover {
  background-color: #35393c;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "FuturaStd",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #f6f6f5;
  scroll-behavior: smooth;
}
input,
select {
  outline: none;
}
.batch_heart {
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
}
/* .close:hover {
  transition: ease-in-out .25s;
  opacity: 1;
  transform: rotate(360deg);
  
} */
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  top: -3px;
  content: " ";
  height: 40px;
  width: 1.5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#show-search-box:hover {
  background-color: #f33c3c;
  transition: ease-in-out 0.15s;
}

#show-search-box:hover .s-icon {
  color: white;
  transition: ease-in-out 0.15s;
}

.innner-hero {
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*desktop size*/

._container {
  margin: 30px auto;
  padding: 0px 30px;
}

._grid {
  max-width: 750px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  overflow: hidden;
  max-height: 390px;
}

.card_content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  max-width: 100%;
  height: 100%;
  max-height: 390px;
  width: 100%;
  object-fit: cover;
  display: inherit;
}

.product-image-modal {
  max-width: 500px;
  height: auto;
  max-height: 700px;
  width: 100%;
  object-fit: cover;
  display: inherit;
}

h2 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-size: 24px;
  line-height: 2rem;
}
h6,
.d {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
}

.dexc {
  max-width: 320px;
  width: 100%;
}
h6 {
  letter-spacing: 3px;
}
.prices {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.big_price {
  font-family: "Fraunces", serif;
  color: #2096f3;
  font-size: 25px;
  margin-right: 25px;
}

.btn {
  background-color: #2096f3;
  border-style: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 28px;
}

.next-btn {
  background-color: #2096f3;
}

.btn:hover {
  background-color: #198be3;
}

.icon {
  margin-right: 10px;
}
.credits {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.sold {
  color: hsl(228, 12%, 48%);
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 628px) {
  /*transition size*/

  ._grid {
    grid-template-columns: 1fr;
  }
  .card_content {
    display: block;
    padding: 20px;
  }
  .container {
    padding: 0px 15px;
  }
  .img img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }
  .btn {
    width: 100%;
  }
  h2,
  h6,
  p,
  .price {
    padding-bottom: 23px;
  }
}

@media screen and (max-width: 376px) {
  /*mobile size*/
  .container {
    margin: 30px auto;
  }
  .img img {
    max-height: 280px;
  }
  h2,
  h6,
  p,
  .price {
    padding-bottom: 16px;
  }
}
